body {
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
  margin: 0;
}
img {
  width: 100px;
  height: 100px;

}
.title {
  font-size: 30px;
  font-weight: 600;

}
.father {
  display: block;
  text-align: center;
  background-color: white;
  padding: 10px;

}
.container {
  display: flex;
  padding: 40px;
  gap: 20px;

}
.content {
  font-size: 14px;
  font-weight: 100;


}

